.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    border-style: solid;
    border-color: green;
}

.notRevealed {
    background-color: pink;
}

.isRevealed {
    background-color: green;
}

.isMine {
    background-color: pink;
}